<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>41653265909-ccf54hpfmom705dk72sabf5bfa58dr5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41653265909-ccf54hpfmom705dk72sabf5bfa58dr5r</string>
	<key>API_KEY</key>
	<string>AIzaSyCRGdGESTB7EdhvkW3O4mkVQ7ynYdJS4dw</string>
	<key>GCM_SENDER_ID</key>
	<string>41653265909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bizimhesap.mobile</string>
	<key>PROJECT_ID</key>
	<string>future-aurora-553</string>
	<key>STORAGE_BUCKET</key>
	<string>future-aurora-553.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41653265909:ios:04e052bea00c71a6</string>
	<key>DATABASE_URL</key>
	<string>https://future-aurora-553.firebaseio.com</string>
</dict>
</plist>
